:root {
  --main-color: #FF7575;
  --section-padding: 60px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #232830;
  font-family: "poppins";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  width: 80%;
  margin: auto;
}

.active {
  color: var(--main-color) !important;
}

header .links {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--section-padding);
}

h1,
header .links a {
  color: #FFF;
  font-size: 20px;
}

header .links ul {
  display: flex;
}

header .links ul a {
  margin-left: 30px;
}

header .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .desc .logo svg {
  width: 200px;
}

header .desc p:first-of-type {
  color: var(--main-color);
  font-size: 50px;
  font-style: italic;
  margin: 20px;
}

header .desc p:last-of-type {
  color: #FFF;
  font-size: 20px;
}

main {
  border-top: 3px solid #4D4D4D;
  border-bottom: 3px solid #4D4D4D;
}

.categories {
  display: flex;
  align-items: center;
}

.categories .icons {
  display: flex;
}

.categories .icons svg {
  font-size: 25px;
  fill: #909090;
  margin-right: 30px;
}

.categories ul {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.categories ul::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(270deg, #232830 0.01%, rgba(35, 40, 48, 0) 87.5%);
}

.categories li a {
  font-size: 25px;
  color: #909090;
  margin-right: 25px;
  text-wrap: nowrap;
}

.articles .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
}

.articles .list .card {
  padding: 20px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles .card img {
  max-width: 100%;
}

.articles .card h3 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.articles .card p {
  color: #232830;
  margin-bottom: 10px;
}

.articles .info {
  display: flex;
  align-items: center;
}

.articles .card .info span {
  font-size: 15px;
  color: #4D4D4D;
}

.articles .card .info svg {
  fill: #4D4D4D;
  width: 3px;
  margin-inline: 10px;
}

.articles .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles .pagination ul {
  display: flex;
}

.articles .pagination a {
  margin-right: 15px;
  color: #909090;
  font-style: italic;
  font-size: 20px;
  transition: .4s;
}

.articles .pagination a:hover {
  text-decoration: underline;
}